modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"
packages = ["zip", "unzip"]

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["node", "--max-old-space-size=2048", "dist/index.cjs"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000

[[ports]]
localPort = 5555
externalPort = 3002

[[ports]]
localPort = 5904
externalPort = 3001

[env]
PORT = "5000"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[agent]
mockupState = "FULLSTACK"
integrations = ["javascript_database:1.0.0", "resend:1.0.0", "stripe:2.0.0"]

[userenv]

[userenv.shared]
ADMIN_EMAIL = "mojocreative1@gmail.com"
EMERGENT_WEBHOOK_SECRET = "whsec_45923106c2f0da38c1ec0d10e92accd6666bfeb3610c84de0144c56933bc3dc6"
EMERGENT_API_URL = "https://gamexclub.preview.emergentagent.com"
PSLMS_API_URL = "https://pressstart.tech"
FX_STUDIO_API_URL = "https://upivslgwjtvqymonliib.supabase.co/functions/v1/get-effects"
FX_STUDIO_API_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVwaXZzbGd3anR2cXltb25saWliIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4MDQ0OTcsImV4cCI6MjA4NzM4MDQ5N30.5gt6Os01a2QCmKiYf2qNdvDue-NPwjUN3V638oe4Awk"
NODE_OPTIONS = "--max-old-space-size=1024"
ECOSYSTEM_JWT_SECRET = "VU-WtxAaxx0qo1LU_CMwqnmAP6Lcx5t-jR7RrMNeU3-DK2SWwNvMQ09J_gBNRYqS"
